In [1]:
import pandas as pd
import numpy as np

In [18]:
#array(['Special Provinces', 'NCR', 'CAR', 'Region I', 'Region II',
#       'Region III', 'Region IV-A', 'Region IV-B', 'Region V',
#       'Region VI', 'Region VII', 'Region VIII', 'Region IX', 'Region X',
#       'Region XI', 'Region XII', 'CARAGA', 'ARMM'], dtype=object)

#Index(['region', 'province', 'city_or_municipality_including_districts',
#       'registered_voter', 'male', 'female', '17-19', '20-24', '25-29',
#       '30-34', '35-39', '40-44', '45-49', '50-54', '55-59', '60-64',
#       '65-above', 'literacy', 'indigenous_people', 'person_with_disability',
#       'single', 'married', 'widow', 'legally_seperated'],
#      dtype='object')

demographic = pd.read_csv('./data/election_demographic.csv')

#demographic['region']
#clean up
demographic.loc[demographic['region']=='Region I','region']='1'
demographic.loc[demographic['region']=='Region II','region']='2'
demographic.loc[demographic['region']=='Region III','region']='3'
demographic.loc[demographic['region']=='Region IV-A','region']='4A'
demographic.loc[demographic['region']=='Region IV-B','region']='4B'
demographic.loc[demographic['region']=='Region V','region']='5'
demographic.loc[demographic['region']=='Region VI','region']='6'
demographic.loc[demographic['region']=='Region VII','region']='7'
demographic.loc[demographic['region']=='Region VIII','region']='8'
demographic.loc[demographic['region']=='Region IX','region']='9'
demographic.loc[demographic['region']=='Region X','region']='10'
demographic.loc[demographic['region']=='Region XI','region']='11'
demographic.loc[demographic['region']=='Region XII','region']='12'
demographic.loc[demographic['region']=='CARAGA','region']='13'

##uncategorized due to mismatching of region designation
demographic.loc[demographic['city_or_municipality_including_districts']=='Isabela City','region']=9
demographic.loc[demographic['city_or_municipality_including_districts']=='Cotabato City','region']=12

In [3]:
#array(['NCR', 'CAR', '1', '2', '3', '4A', '4B', '5', '6', '7', '8', '9',
#       '10', '11', '12', '13', 'NIR', 'ARMM', nan], dtype=object)
# Index(['Regions', 'Duterte', 'Roxas', 'Poe', 'Binay', 'Santiago']
results = pd.read_csv('./data/election_results.csv')
#results['Regions']
results.loc[results['Regions']=='NIR','Regions']='Others'
results=results[results['Regions'].notna()]
results['Duterte']=results['Duterte'].astype('int32') 
results['Roxas']= results['Roxas'].astype('int32') 
results['Poe']= results['Poe'].astype('int32') 
results['Binay'] = results['Binay'].astype('int32') 
results['Santiago'] = results['Santiago'].astype('int32')


results['total']= results['Duterte'] + results['Roxas']+ results['Poe'] + results['Binay'] + results['Santiago']

In [4]:
turn_out = pd.read_csv('./data/election_turnout.csv')
#turn_out['REGION']
turn_out.loc[turn_out['REGION']=='N. C. R.', 'REGION']='NCR'
turn_out.loc[turn_out['REGION']=='A.R.M.M.', 'REGION']='ARMM'
turn_out.loc[turn_out['REGION']=='REGION  I', 'REGION']='1'
turn_out.loc[turn_out['REGION']=='REGION  II', 'REGION']='2'
turn_out.loc[turn_out['REGION']=='REGION  III', 'REGION']='3'
turn_out.loc[turn_out['REGION']=='REGION  IV-A','REGION']='4A'
turn_out.loc[turn_out['REGION']=='REGION  IV-B','REGION']='4B'
turn_out.loc[turn_out['REGION']=='REGION  V','REGION']='5'
turn_out.loc[turn_out['REGION']=='REGION  VI', 'REGION']='6'
turn_out.loc[turn_out['REGION']=='REGION  VII', 'REGION']='7'
turn_out.loc[turn_out['REGION']=='REGION  VIII', 'REGION']='8'
turn_out.loc[turn_out['REGION']=='REGION  IX', 'REGION']='9'
turn_out.loc[turn_out['REGION']=='REGION  X', 'REGION']='10'
turn_out.loc[turn_out['REGION']=='REGION  XI', 'REGION']='11'
turn_out.loc[turn_out['REGION']=='REGION XI	', 'REGION']='11'
turn_out.loc[turn_out['REGION']=='REGION  XII', 'REGION']='12'
turn_out.loc[turn_out['REGION']=='CARAGA', 'REGION']='13'

In [19]:
demographic.head()

,region,province,city_or_municipality_including_districts,registered_voter,male,female,17-19,20-24,25-29,30-34,...,55-59,60-64,65-above,literacy,indigenous_people,person_with_disability,single,married,widow,legally_seperated
0,9,Special Provinces,Isabela City,68450,33356,35094,7494,10747,9730,8212,...,3540,2656,3944,94.87%,1,786,31969,33585,2181,715
1,12,Special Provinces,Cotabato City,103530,49470,54060,3516,12797,14826,14969,...,6197,4442,7349,99.81%,0,657,48566,51002,2865,1097
2,NCR,Manila,"Manila, 3rd District",148663,71888,76775,4627,19204,21810,18830,...,9329,7307,10399,99.98%,1,108,88439,56661,3032,531
3,NCR,Manila,"Manila, 5th District",188080,88348,99732,5008,23289,26186,23465,...,12696,9896,13911,99.96%,0,197,107194,74998,4583,1305
4,NCR,Manila,"Manila, 6th District",142151,65866,76285,3607,17710,19461,17534,...,10094,8240,12226,99.99%,0,59,78789,59789,3072,501

In [58]:
turn_out.head()

,REGION,PROVINCE,NUM_OF_CLUSTERED_PREC_FUNCTIONED,REG_VOTERS,VOTERS_WHO_ACTUALLY_VOTED,VOTER_TURNOUT,province_lookup
0,NCR,NaN,9271,6253249,4916589,78.62%,NaN
1,CAR,ABRA,360,156968,139924,89.14%,abra
2,CAR,APAYAO,154,64867,53032,81.75%,apayao
3,CAR,BENGUET,706,352291,287829,81.70%,benguet
4,CAR,IFUGAO,259,112328,93433,83.18%,ifugao

In [21]:
demographic.columns

Index(['region', 'province', 'city_or_municipality_including_districts',
       'registered_voter', 'male', 'female', '17-19', '20-24', '25-29',
       '30-34', '35-39', '40-44', '45-49', '50-54', '55-59', '60-64',
       '65-above', 'literacy', 'indigenous_people', 'person_with_disability',
       'single', 'married', 'widow', 'legally_seperated'],
      dtype='object')

In [34]:
demographic['province'].unique()

array(['Special Provinces', 'Manila', 'Second District', 'Third District',
       'Fourth District', 'Abra', 'Benguet', 'Ifugao', 'Kalinga',
       'Mountain Province', 'Apayao', 'Ilocos Norte', 'Ilocos Sur',
       'La Union', 'Pangasinan', 'Batanes', 'Cagayan', 'Isabela',
       'Nueva Vizcaya', 'Quirino', 'Bataan', 'Bulacan', 'Nueva Ecija',
       'Pampanga', 'Tarlac', 'Zambales', 'Aurora', 'Batangas', 'Cavite',
       'Laguna', 'Quezon', 'Rizal', 'Marinduque', 'Occidental Mindoro',
       'Oriental Mindoro', 'Palawan', 'Romblon', 'Albay',
       'Camarines Norte', 'Camarines Sur', 'Catanduanes', 'Masbate',
       'Sorsogon', 'Aklan', 'Antique', 'Capiz', 'Iloilo',
       'Negros Occidental', 'Guimaras', 'Bohol', 'Cebu',
       'Negros Oriental', 'Siquijor', 'Eastern Samar', 'Leyte',
       'Northern Samar', 'Samar (Western Samar)', 'Southern Leyte',
       'Biliran', 'Zamboanga Del Norte', 'Zamboanga Del Sur',
       'Zamboanga Sibugay', 'Bukidnon', 'Camiguin', 'Lanao Del Norte',
       'Misamis Occidental', 'Misamis Oriental',
       'Davao  (Davao Del Norte)', 'Davao Del Sur', 'Davao Oriental',
       'Compostela Valley', 'Davao Occidental', 'Cotabato (North Cot.)',
       'South Cotabato', 'Sultan Kudarat', 'Sarangani',
       'Agusan Del Norte', 'Agusan Del Sur', 'Surigao Del Norte',
       'Surigao Del Sur', 'Dinagat Islands', 'Basilan', 'Lanao Del Sur',
       'Maguindanao', 'Sulu', 'Tawi-Tawi'], dtype=object)

In [49]:
demographic['province_lookup'] = demographic['province'].str.lower().str.replace(' ','').str.replace('-','')

In [57]:
demographic['province_lookup'].unique()

array(['specialprovinces', 'manila', 'seconddistrict', 'thirddistrict',
       'fourthdistrict', 'abra', 'benguet', 'ifugao', 'kalinga',
       'mountainprovince', 'apayao', 'ilocosnorte', 'ilocossur',
       'launion', 'pangasinan', 'batanes', 'cagayan', 'isabela',
       'nuevavizcaya', 'quirino', 'bataan', 'bulacan', 'nuevaecija',
       'pampanga', 'tarlac', 'zambales', 'aurora', 'batangas', 'cavite',
       'laguna', 'quezon', 'rizal', 'marinduque', 'occidentalmindoro',
       'orientalmindoro', 'palawan', 'romblon', 'albay', 'camarinesnorte',
       'camarinessur', 'catanduanes', 'masbate', 'sorsogon', 'aklan',
       'antique', 'capiz', 'iloilo', 'negrosoccidental', 'guimaras',
       'bohol', 'cebu', 'negrosoriental', 'siquijor', 'easternsamar',
       'leyte', 'northernsamar', 'samar(westernsamar)', 'southernleyte',
       'biliran', 'zamboangadelnorte', 'zamboangadelsur',
       'zamboangasibugay', 'bukidnon', 'camiguin', 'lanaodelnorte',
       'misamisoccidental', 'misamisoriental', 'davao(davaodelnorte)',
       'davaodelsur', 'davaooriental', 'compostelavalley',
       'davaooccidental', 'cotabato(northcot.)', 'southcotabato',
       'sultankudarat', 'sarangani', 'agusandelnorte', 'agusandelsur',
       'surigaodelnorte', 'surigaodelsur', 'dinagatislands', 'basilan',
       'lanaodelsur', 'maguindanao', 'sulu', 'tawitawi'], dtype=object)

In [54]:
turn_out['province_lookup']= turn_out['PROVINCE'].str.lower().str.replace(' ','').str.replace('-','')

In [55]:
turn_out['province_lookup'].unique()

array([nan, 'abra', 'apayao', 'benguet', 'ifugao', 'kalinga',
       'mountainprovince', 'ilocosnorte', 'ilocossur', 'launion',
       'pangasinan', 'batanes', 'cagayan', 'isabela', 'nuevavizcaya',
       'quirino', 'aurora', 'bataan', 'bulacan', 'nuevaecija', 'pampanga',
       'tarlac', 'zambales', 'batangas', 'cavite', 'laguna', 'quezon',
       'rizal', 'marinduque', 'occidentalmindoro', 'orientalmindoro',
       'palawan', 'romblon', 'albay', 'camarinesnorte', 'camarinessur',
       'catanduanes', 'masbate', 'sorsogon', 'aklan', 'antique', 'capiz',
       'guimaras', 'iloilo', 'negrosoccidental', 'bohol', 'cebu',
       'negrosoriental', 'siquijor', 'biliran', 'easternsamar', 'leyte',
       'northernsamar', 'samar', 'southernleyte', 'zamboangadelnorte',
       'zamboangadelsur', 'zamboangasibugay', 'bukidnon', 'camiguin',
       'lanaodelnorte', 'misamisoccidental', 'misamisoriental',
       'compostelavalley', 'davaodelnorte', 'davaodelsur',
       'davaooriental', 'davaooccidental', 'northcotabato', 'sarangani',
       'southcotabato', 'sultankudarat', 'agusandelnorte', 'agusandelsur',
       'dinagatislands', 'surigaodelnorte', 'surigaodelsur', 'basilan',
       'lanaodelsur', 'maguindanao', 'sulu', 'tawitawi'], dtype=object)

In [63]:
demographic[~demographic['province_lookup'].isin(turn_out['province_lookup'].unique())]['province_lookup'].unique()

array(['specialprovinces', 'manila', 'seconddistrict', 'thirddistrict',
       'fourthdistrict', 'samar(westernsamar)', 'davao(davaodelnorte)',
       'cotabato(northcot.)'], dtype=object)

In [66]:
turn_out[~turn_out['province_lookup'].isin(demographic['province_lookup'].unique())]['province_lookup'].unique()

array(['samar', 'davaodelnorte', 'northcotabato'], dtype=object)

In [94]:
turn_out.loc[turn_out['province_lookup'].isna(), 'province_lookup']='manila'
demographic.loc[demographic['province_lookup']=='seconddistrict', 'province_lookup']='manila'
demographic.loc[demographic['province_lookup']=='thirddistrict', 'province_lookup']='manila'
demographic.loc[demographic['province_lookup']=='fourthdistrict', 'province_lookup']='manila'


turn_out.loc[turn_out['province_lookup']=='samar', 'province_lookup']='samar(westernsamar)'
turn_out.loc[turn_out['province_lookup']=='davaodelnorte', 'province_lookup']='davao(davaodelnorte)'
turn_out.loc[turn_out['province_lookup']=='northcotabato', 'province_lookup']='cotabato(northcot.)'

demographic.loc[demographic['city_or_municipality_including_districts']=='Cotabato City', 'province_lookup']='cotabato(northcot.)'
demographic.loc[demographic['city_or_municipality_including_districts']== 'Isabela City', 'province_lookup']='zamboangadelnorte'

In [122]:
turn_out_by_region =turn_out.groupby(['REGION']).sum().reset_index()

In [125]:
turn_out_by_region['turn_out'] = turn_out_by_region['VOTERS_WHO_ACTUALLY_VOTED']/ turn_out_by_region['REG_VOTERS']

In [127]:
demographic_by_region=demographic.groupby('region').sum()

In [131]:
demo_turn =demographic_by_region.merge(turn_out_by_region, left_on='region', right_on='REGION')

In [139]:
demo_turn_results = demo_turn.merge(results, left_on='REGION',right_on='Regions')
demo_turn_results

,registered_voter,male,female,17-19,20-24,25-29,30-34,35-39,40-44,45-49,...,REG_VOTERS,VOTERS_WHO_ACTUALLY_VOTED,turn_out,Regions,Duterte,Roxas,Poe,Binay,Santiago,total
0,2950775,1452533,1498242,116227,423440,393434,336299,310459,266869,254122,...,2950775,2525358,0.855829,1,621827,309634,834439,449792,197791,2413483
1,2541331,1256850,1284481,98479,375089,365869,294037,268946,234844,220787,...,2541331,2108036,0.829501,10,1080357,514496,248838,107568,14182,1965441
2,2659704,1314703,1345001,216472,400474,376755,319289,275959,251658,217536,...,2659704,2154052,0.809884,11,1840031,118145,67421,24960,5959,2056516
3,2086112,1053254,1032858,65649,301969,310239,264808,236708,208347,189902,...,2086112,1669116,0.800109,12,1062828,272844,145671,98973,10146,1590462
4,1547093,779567,767526,73219,239514,223149,172957,153407,138652,129771,...,1547093,1318722,0.852387,13,679542,357266,140936,40053,6299,1224096
5,1920952,954207,966745,148010,286292,247950,214497,195438,179503,163114,...,1920952,1594813,0.830220,2,264952,182310,321002,683344,43253,1494861
6,6056392,2900306,3156086,217194,828464,822710,716004,675124,583202,559609,...,6056392,4989374,0.823820,3,1642663,798567,1481482,701092,193618,4817422
7,7619272,3570413,4048859,464721,1061970,1024740,948617,864768,740927,661914,...,7619272,5928566,0.778101,4A,1950145,963444,1584113,996108,255656,5749466
8,1589326,785864,803462,63902,242985,223012,187250,170092,151295,136583,...,1589326,1294666,0.814601,4B,262157,428323,343985,161779,18103,1214347
9,3121662,1515434,1606228,146111,488620,422973,342380,321338,281649,267324,...,3121662,2644179,0.847042,5,347729,889441,893291,284142,45202,2459805
10,4242153,2077634,2164519,437071,602287,497916,450498,399102,381119,352191,...,4242153,3583332,0.844697,6,289547,1224577,318125,132308,82290,2046847
11,4375756,2113472,2262284,177953,649887,623627,502484,454663,396812,365133,...,4375756,3726874,0.851710,7,1473936,824439,334523,175283,42375,2850556
12,2698880,1360862,1338018,147418,427595,358184,283468,262248,238314,221830,...,2698880,2310252,0.856004,8,613304,627755,421932,383008,31484,2077483
13,1931795,963741,968054,82696,293585,277143,221416,202249,180909,167716,...,1931795,1498007,0.775448,9,538351,383538,321805,97356,14126,1355176
14,1691250,847294,843956,175370,370289,228160,189229,161922,153472,122520,...,1863230,1532140,0.822303,ARMM,920743,272389,75180,129574,3080,1400966
15,906162,456154,450008,37430,134620,135158,107933,93415,78833,74868,...,906162,755772,0.834036,CAR,134049,131937,201508,169902,80597,717993
16,6253249,2826592,3426657,364479,832543,814462,759051,700444,617738,561247,...,6253249,4916589,0.786246,NCR,2127273,693593,997869,672903,333913,4825551

In [140]:

demo_turn_results.columns

Index(['registered_voter', 'male', 'female', '17-19', '20-24', '25-29',
       '30-34', '35-39', '40-44', '45-49', '50-54', '55-59', '60-64',
       '65-above', 'indigenous_people', 'person_with_disability', 'single',
       'married', 'widow', 'legally_seperated', 'REGION',
       'NUM_OF_CLUSTERED_PREC_FUNCTIONED', 'REG_VOTERS',
       'VOTERS_WHO_ACTUALLY_VOTED', 'turn_out', 'Regions', 'Duterte', 'Roxas',
       'Poe', 'Binay', 'Santiago', 'total'],
      dtype='object')

In [145]:
demo_turn_results['Top_Candidate']=demo_turn_results[['Duterte', 'Roxas','Poe', 'Binay', 'Santiago']].idxmax(axis=1)